*{
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: #e63946;
}
div{ /*Solo del border hay configuracion. El padding es adentro de la caja y el margin es afuera de la caja*/
    padding: 10px 15px 5px 3px;
    border: 1px solid #457b9d;
    margin: 0 auto; /*Aqui coloca 0 de margen arriba y abajo y a los costados en auto los centra*/
    background-color: #f1faee;
    max-width: 300px;
    box-sizing: border-box; /*Acomoda al valor de width sin importar los otros valores*/
}